.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.contacts__title {
  margin-left: 30px;
  margin-right: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.contacts__table {
  width: 100%;

  line-height: 30px;

  border-collapse: collapse;
}
.contacts__field {
  vertical-align: top;
}
.contacts__value {
  vertical-align: top;
}
