.form__title {
  font-size: 17px;
  line-height: 16px;
  color: @text-color-brend;
  font-weight: bold;
}
.form__list {
  padding: 0;
}
.form__item {
  list-style: none;

  & input::placeholder,
  & textarea::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #d4d4d4;
    font-weight: normal;
  }
}
.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--input {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
  }
}
.form__desc {
  font-size: 14px;
  line-height: 16px;
}
