.form__wrapper {
  margin-bottom: 44px;

  &--name {
    margin-bottom: 32px;
  }

  &--contact {
    margin-bottom: 21px;
  }

  &--contact input {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 18px;
    border: none;
    border-bottom: 2px solid;
  }

  &--additionally {
    margin-bottom: 10px;

    &:hover textarea,
    & textarea:focus {
      border: 2px solid @text-color-brend;
    }
  }

  &--additionally textarea {
    width: 100%;
    padding: 14px 17px;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    border: 2px solid;
  }
}

.form__title {
  position: relative;
  margin-bottom: 33px;
  font-size: 17px;
  line-height: 18px;
  color: @text-color-brend;
  font-weight: bold;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 7px;
    left: 62px;
    right: 0;
    display: block;
    height: 1px;
    content: " ";
    background: @text-color-brend;
  }

  &--name {
    margin-bottom: 26px;
  }

  &--contact {
    margin-bottom: 7px;
  }

  &--additionally {
    margin-bottom: 22px;
  }
}

.form__list {
  padding: 0;
}

.form__item {
  position: relative;
  margin-bottom: 23px;
  list-style: none;
  border: none;


  & input[type="radio"],
  & input[type="checkbox"] {
    display: none;
  }

  & input[type="checkbox"] + label,
  & input[type="radio"] + label {
    cursor: pointer;
  }

  & input[type="checkbox"] + label::before,
  & input[type="radio"] + label::before {
    position: absolute;
    top: -8px;
    left: 0;
    content: "";
    display: block;
    height: 38px;
    width: 38px;
    border: 2px solid @text-color;
  }

  & input[type="checkbox"]:hover + label::before,
  & input[type="radio"]:hover + label::before {
    border: 2px solid @text-color-brend;
  }

  & input[type="checkbox"]:active + label::before,
  & input[type="radio"]:active + label::before {
    border: 2px solid #c6c6c6;
  }

  & input[type="checkbox"]:focus + label::before,
  & input[type="radio"]:focus + label::before {
    border: 2px solid #c6c6c6;
  }

  & input[type="radio"] + label::before {
    border-radius: 50%;
  }

  & input[type="checkbox"]:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  & input[type="radio"]:checked + label::after {
    position: absolute;
    top: 4px;
    left: 12px;
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    background-color: @text-color-brend;
    border-radius: 50%;
  }

  & input::placeholder,
  & textarea::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #d4d4d4;
    font-weight: normal;
  }

  &--color {
    margin-bottom: 43px;
  }

  &--color input {
    border: none;
    font-size: 17px;
    line-height: 18px;
    border-bottom: 2px solid;
  }

  &--name {
    &:hover input,
    & input:focus {
      border-bottom: 2px solid @text-color-brend;
    }
  }

  &--name label {
    display: block;
  }

  &--name input {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-bottom: 2px solid @text-color;
  }

  &--contact {
    &:hover input,
    & input:focus {
      border-bottom: 2px solid @text-color-brend;
    }

    &:hover svg {
      fill: @text-color-brend;
    }
  }

  &--contact svg {
    fill: #cccccc;
  }
}

.form__label {
  display: block;
  padding-left: 63px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--input {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
  }

  &--phone,
  &--email {
    position: relative;

    & svg {
      position: absolute;
      top: 0;
      right: 2px;
    }
  }
}

.form__desc {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;

    &--color {
      background: @body-bg-grey;
      padding-top: 42px;
    }

    &--name {
      padding-top: 22px;
      padding-bottom: 10px;
    }

    &--contact {
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 30px;
      background-color: @body-bg-grey;
    }

    &--additionally {
      padding-top: 48px;
      padding-bottom: 55px;
    }

    &--additionally textarea {
      width: auto;
      flex-grow: 1;
      font-size: 19px;
      line-height: 18px;
    }

    &--submit {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }

  .form__wrapper--name input {
    flex-grow: 2;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid;
    font-size: 19px;
    line-height: 18px;
  }

  .form__wrapper--contact input {
    font-size: 19px;
    line-height: 18px;
    background-color: @body-bg-grey;
  }

  .form__title {
    width: 25%;

    &::after {
      display: none;
    }

    &--name {
      padding-top: 18px;
    }
  }

  .form__submit {
    max-width: 230px;
  }

  .form__desc {
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 22px;
  }

  .form__list {
    width: 75%;

    &--color {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__item {
    margin-bottom: 60px;

    & input[type="checkbox"] + label::before,
    & input[type="radio"] + label::before {
      top: -13px;
      left: 0;
      height: 50px;
      width: 50px;
    }

    & input[type="checkbox"]:checked + label::before {
      background-size: 25px;
    }

    & input[type="radio"]:checked + label::after {
      top: 2px;
      left: 16px;
      height: 20px;
      width: 20px;
    }

    &--color {
      width: 50%;
    }

    &--name {
      display: flex;
      align-items: baseline;
      margin-bottom: 21px;
      border: none;
    }

    &--contact {
      display: flex;
      margin-bottom: 12px;
    }
  }

  .form__label {
    padding-left: 81px;

    &--name {
      margin-right: 25px;
      font-size: 19px;
      line-height: 18px;
    }

    &--contact {
      flex-grow: 1;
    }

    &--contact input {
      padding-left: 15px;
      padding-right: 15px;
    }

    &--contact svg {
      top: 14px;
      right: 26px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    padding: 0 113px;

    &--color {
      padding-top: 43px;
    }

    &--name {
      padding-top: 23px;
      padding-right: 226px;
      padding-bottom: 12px;
    }

    &--contact {
      padding-top: 50px;
      padding-right: 226px;
      padding-bottom: 25px;
    }

    &--additionally {
      padding-top: 50px;
      padding-bottom: 53px;
      padding-right: 226px;
    }

    &--submit {
      padding: 0 224px;
    }
  }

  .form__title {
    width: 114px;
  }

  .form__list {
    flex-grow: 2;
  }

  .form__item {
    &--color {
      width: 30%;
      margin-right: 2.4%;
    }
  }

  .form__label {
    &--contact svg {
      right: 2px;
    }
  }
}
