.page-footer {
  padding-left: 30px;
  padding-right: 30px;
}
.page-footer__copyright {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
.page-footer__logo {
  display: none;
}
@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
  }
}
@media (min-width: @desktop-width) {

}
