.page-header {
  position: relative;
  z-index: 2;
}

.page-header__logo {
  display: block;
  padding: 22px 0;
  text-align: center;

  & img {
    width: 86px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (max-width: @mobile-width-only) {
  .page-header__logo {
    box-shadow: 0 1px 0 #ebebeb;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 50px;
  }

  .page-header__logo {
    order: 1;
    margin: 0;

    & img {
      width: 110px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 0 15px;
  }

  .page-header__logo {
    order: 2;
    padding: 9px 0 7px;

    & img {
      width: 149px;
    }
  }
}
