.process {
  padding-left: 30px;
  padding-right: 30px;
}
.process__title {
  font-size: 17px;
  font-weight: bold;
}
.process__video {
  width: 100%;

  & img {
    width: 100%;
  }
}
.process__text {
  padding-left: 30px;
  padding-right: 30px;

  font-size: 13px;
}
