.promo {
  padding-left: 30px;
  padding-right: 30px;
}
.promo__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.promo__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: @text-color-brend;
  font-weight: bold;
}
.promo__desc {

}
.promo__table {
  line-height: 20px;
  border-collapse: collapse;
  width: 100%;
}
.promo__photo img {
  width: 100%;
  height: auto;
}
.promo__price {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
