.promo {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: auto;
    height: 6px;
    content: " ";
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center 0;
    background-size: 320px;
  }
}

.promo__title {
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @title-color;
}

.promo__subtitle {
  margin-top: 6px;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 20px;
  color: @text-color-brend;
  font-weight: bold;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
}

.promo__desc {
  margin-bottom: 18px;
}

.promo__table {
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px;
  border-collapse: collapse;
}

.promo__table tr {
  border-bottom: 1px solid #ebebeb;
}

.promo__field {
  width: 98px;
  padding: 10px 0 9px;
}

.promo__photo {
  margin-bottom: 24px;
}

.promo__price {
  padding-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.promo__price p {
  margin-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 28px;

    &::before {
      height: 20px;
      background-position: center 4px;
      background-size: 800px;
    }
  }

  .promo__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 19px;
  }

  .promo__title {
    font-size: 43px;
    line-height: 50px;
  }

  .promo__subtitle {
    width: 126px;
    margin-top: 14px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .promo__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 44px;
    padding-bottom: 160px;
  }

  .promo__desc {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__table {
    width: 100%;
  }

  .promo__photo {
    width: 50%;
    margin-top: 20px;
  }

  .promo__price {
    width: 50%;
    padding-right: 44px;
    margin-top: -155px;
  }

  .promo__price p {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: @desktop-width;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 58px;

    &::before {
      left: 50px;
      right: 50px;
      bottom: 0;
      height: 30px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-position: center 4px;
      background-size: 1150px;
    }
  }

  .promo__header {
    justify-content: flex-start;
    z-index: 1;
    margin-top: 58px;
    margin-bottom: 21px;
  }

  .promo__title {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__subtitle {
    width: 166px;
    padding: 3px 30px;
    margin-right: 7px;
    font-size: 17px;
    line-height: 17px;
  }

  .promo__wrapper {
    padding-left: 176px;
    padding-right: 58px;
  }

  .promo__desc {
    margin-bottom: 48px;
  }

  .promo__photo {
    margin-top: -145px;
  }

  .promo__price {
    padding-left: 176px;
    padding-right: 58px;
  }
}
