.reviews {
  padding-left: 30px;
  padding-right: 30px;
}
.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
.reviews__list {
  padding: 0;
}
.reviews__item{
  margin: 0;
  line-height: 30px;
}
.reviews__auhor-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.reviews__auhor-nickname {
  font-size: 17px;
  line-height: 24px;
}
