@font-family-base: "OpenSans", "Arial", sans-serif;
@font-family-bold: "OpenSansBold", "Arial", sans-serif;

@font-size-base: 15px;
@line-height-base: 24px;

@text-color: #444444;
@text-color-invert: #ffffff;
@text-color-brend: #63d1bb;

@link-color: #000000;
@link-color-hover: #666666;
@link-color-active: #b2b2b2;

@body-bg: #ffffff;
@body-bg-grey: #f1f1f1;

@border-color: #434343;

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
